.box{
    float:left;
    background-color: bisque;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    display: block;
}
.invisible{
    display: none;
}